 .addcust{
    margin-left: 37%;
    margin-top: 1%;
    width: 300px;
    background-color: white;;
    padding: 3%;
 }

.input{
    margin-left: 110px;
    margin-top: -50px;
    margin-bottom: 30px;
    
}

.button{
    margin-top: 20px;
}

