.sidebar-wmb{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px;
    width: 45px;
    position: fixed;
    margin-top: -19px;
    /* background-image: linear-gradient(-90deg, yellow,  rgb(4, 247, 255)) */
}