/* Header */
.direct {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4px;
    text-align: start;
    color: rgb(100, 100, 100);
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(-90deg, yellow,  rgb(4, 247, 255));
}
.direct h3{
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}
/* Header */